# Dependency directories
node_modules
npm-debug.log

# Optional npm cache directory
.npm

# nyc test coverage
.nyc_output

# Coverage directory used by tools like istanbul
coverage

# dotenv environment variables file
.env
