/* CSS Variables */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: #ffffb3;
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #beb7a4;
}

.btn {
  background: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
  margin-top: 20px;
  border: 2px solid #e6af2e;
  font-size: 20px;
  color: #e6af2e;
}

.btn:hover {
  background-color: #e6af2e;
  color: #191716;
}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

.wrapper-admin {
  grid-gap: 0px;
}

/* Navigation */
nav ul {
  list-style-type: none;
  border-top: 6px solid #e6af2e;
  background-color: #191716;
}

nav ul li a {
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 20px;
  padding: 10px 20px;
  color: #e6af2e;
}

nav ul li a:hover {
  color: #ebe2db;
}

.nav-logo,
.logo {
  font-size: 40px;
  text-transform: uppercase;
  background: #e6af2e;
  color: #191716;
  font-style: italic;
}

.logo:hover {
  background-color: #ebe2db;
  color: #e6af2e;
}

.nav-menu {
  display: flex;
}
.nav-menu li {
  display: none;
}

/*toggle display none*/

.nav-toggle li {
  display: inline-block;
}

.displayToggle {
  display: block;
}

.nav-toggle li:hover {
  background-color: #e6af2e;
}

.nav-logo img {
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
}

@media screen and (min-width: 576px) {
  nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }

  nav ul li {
    flex: 1 0 auto;
    text-align: center;
  }
  .logo {
    display: block;
    text-align: center;
  }
  .logo img {
    display: none;
  }
  .nav-logo {
    width: 40%;
  }
  .nav-menu li {
    display: block;
  }
  .nav-toggle li {
    display: none;
  }
  .toggle {
    display: none;
  }
  .logo img {
    display: none;
  }
}

/* Top Container */
.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "showcase showcase top-box-a"
    "showcase showcase top-box-b";
}

/* Showcase */
.showcase {
  grid-area: showcase;
  min-height: 400px;
  background-image: url("/UI/img/main-bg_.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow);
  margin-bottom: 1.5rem;
}

.showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: var(--dark);
  text-shadow: var(--shadow);
}

.showcase p {
  font-size: 1.3rem;
  margin-bottom: 0;
  color: var(--dark);
  text-shadow: var(--shadow);
}

/* Top Box */
.top-box {
  background: var(--primary);
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow);
  padding: 1.5rem;
  margin: 0.5rem;
}

.top-box-a {
  grid-area: top-box-a;
}

.top-box-b {
  grid-area: top-box-b;
}

/* Boxes */
.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
  background: var(--primary);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}

.box h3 {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

/*Explore*/

#Explore {
  min-height: 100vh;
  background-image: url("/UI/img/bg1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0 80px 0;
}

.Explore-container {
  max-width: 90vw;
  margin: 0 auto;
  color: #ebe2db;
}

.Explore-item {
  overflow: hidden;
  position: relative;
  padding: 60px;
}

.Explore-item .fa {
  font-size: 60px;
  margin-bottom: 30px;
  color: #e6af2e;
}

.Explore-item-black {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.Explore-item-white {
  background: linear-gradient(
    rgba(206, 208, 206, 0.6),
    rgba(206, 208, 206, 0.6)
  );
  color: #191716;
}

.front-text {
  text-align: center;
  transition: transform 2s;
}

.back-text {
  position: absolute;
  bottom: -15em;
  width: 75%;
  margin: 0 auto;
  height: 100%;
  transition: bottom 2s;
  padding: 30px;
}

.back-text h1 {
  margin-bottom: 20px;
}

.back-text button {
  margin-top: 20px;
  padding: 10px 20px;
  background: transparent;
  border: 2px solid #e6af2e;
  font-size: 20px;
  color: #e6af2e;
}

.back-text button:hover {
  background-color: #e6af2e;
  color: #191716;
}

.Explore-item-white button {
  background: #e6af2e;
  color: #191716;
}

.Explore-item-white button:hover {
  background: #191716;
  background-color: #191716;
  color: #e6af2e;
}

.Explore-item:hover .front-text {
  transform: translateY(-200px);
}

.Explore-item:hover .back-text {
  bottom: 0;
}

@media screen and (min-width: 776px) {
  .Explore-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .Explore-container .Explore-item:nth-of-type(1) {
    order: 1;
  }

  .Explore-container .Explore-item:nth-of-type(2) {
    order: 2;
  }

  .Explore-container .Explore-item:nth-of-type(3) {
    order: 4;
  }

  .Explore-container .Explore-item:nth-of-type(4) {
    order: 3;
  }
}

.meta-data {
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  color: #e6af2e;
}

/* Footer */
footer {
  margin-top: 2rem;
  background: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 1rem;
}

.admin-footer {
  margin-top: 0;
}

/* Media Query */
@media (max-width: 700px) {
  .top-container {
    grid-template-areas:
      "showcase showcase"
      "top-box-a top-box-b";
  }

  .showcase h1 {
    font-size: 2.5rem;
  }

  .main-nav ul {
    grid-template-columns: 1fr;
  }
}
.loan .btn-form{
  max-width: 350px;
  margin-bottom: 5px;
}

.form-container {
  background: #191716;
  max-width: 350px;
  margin: auto;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
  color: var(--light);
  border-radius: 5px;
}

.input-container {
  display: flex;
  display: -ms-flexbox;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: #e6af2e;
  color: #fff;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid #e6af2e;
}

.btn-form {
  background: #e6af2e;
  color: #fff;
  padding: 15px 20px;
  border: 2px solid #fff;
  cursor: pointer;
  width: 100%;
  margin-bottom: 50px;
  border-radius: 5px;
  font-weight: bold;
}

.btn-form:hover {
  background: #191716;
}

.signin {
  margin-top: 120px;
  margin-bottom: 120px;
}

/*User profile*/

#main {
  margin: 2em auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  background-color: #dddddd;
  width: 80%;
  margin-left: 140px;
  display: inline-flex;
  border: 2px solid #191716;
  padding-bottom: 5px; 
}

.one-third {
  display: block;
  width: 33.3333%;
  height: 100%;
  float: left;
}

.one-third h3 {
  color: #e6af2e;
}

.one-third p .fa {
  color: #e6af2e;
  font-size: 20px;
  background: #000;
  padding: 15px;
  border-radius: 30px;
  animation-timing-function: ease-in-out;
}

.one-fourth {
  display: block;
  width: 25%;
  height: 100%;
  float: left;
}

.two-thirds {
  position: relative;
  display: block;
  width: 66.6667%;
  height: 100%;
  float: left;
}

#profile-image {
  position: relative;
  margin-top: 10em;
}

#profile-image img {
  background-blend-mode: luminosity;
  border-radius: 50%;
  border: 4px solid #e6af2e;
  display: block;
  position: absolute;
  margin-top: 10px;
  margin-left: 30px;
  top: -12em;
  left: 22%;
  height: 150px;
  width: 150px;
  transition: transform 4s;
}

#profile-image img:hover {
  -ms-zoom-animation: default;
}

.center {
  margin: auto;
  text-align: center;
}

#main p {
  margin: 3px auto !important;
}

#main .more {
  display: block;
  text-align: center;
  margin-top: 25px;
  margin: 23px 40px !important;
  color: #fff;
  font-size: 11pt;
  padding-top: 2em;
  padding-bottom: 25px;
  border-bottom: 1px solid #ededed;
  border-top: px solid #ededed;
  margin-top: 4em !important;
}

#main .userlist {
  display: inline-flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 20px;
  list-style: none;
}

#main .userlist li:hover {
  color: #e6af2e;
  border: 1px solid #e6af2e;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.activeli {
  color: #e6af2e;
  border: 1px solid #e6af2e;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

#main .userlist li {
  margin: 40px 30px 0 10px;
  cursor: pointer;
  font-size: 12pt;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 500;
  color: #fff;
  padding: 9px 12px 9px;
  background-color: #e6af2e;
  border: 1px solid #fff;
  border-radius: 8px;
}

.notify {
  position: absolute;
  right: 8%;
  top: 31px;
  color: #e6af2e;
  cursor: pointer;
  transition: all 0.4s;
  font-weight: 400;
}

.notify:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.2);
}

.userpanel {
  margin-top: 35px;
}

.userpanel div {
  float: left;
  margin-left: 1.66%;
  margin-right: 1.66%;
}

.userpanel .third {
  width: 30%;
}

@media only screen and (max-width: 768px) {
  #main {
    margin: 2em auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 90%;
    display: block;
    top: 10%;
  }

  .one-third {
    display: block;
    width: 100%;
    height: 100%;
    float: left;
  }

  .one-fourth {
    display: block;
    width: 100%;
    height: 100%;
    float: left;
  }

  .two-thirds {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    float: left;
  }

  #profile-image {
    position: relative;
    margin-top: 10em;
  }

  #profile-image img {
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -10em;

    left: 25%;
    width: 40%;
    height: auto;
    display: inline-block;
  }

  .center {
    margin: auto;
    text-align: center;
  }

  #main p {
    margin: 0px auto !important;
  }

  .more {
    display: block;
    text-align: center;
    margin-top: 25px;
    margin: 25px 40px !important;
    color: #999;
    font-size: 11pt;
    padding-top: 1em;
    padding-bottom: 25px;
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    margin-top: 7em !important;
  }

  #main .userlist {
    display: inline-flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  #main .userlist li {
    margin: 40px 30px 0 10px;
    cursor: pointer;
    font-size: 13pt;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 500;
  }
}

.paneluser.activerUserPanel {
  display: block;
}

.paneluser {
  display: none;
}

/* Admin style */
.admin-content {
  display: flex;
}

.sidebar {
  flex: 1;
  height: 530px;
  background-color: var(--dark);
}

.inner-content {
  flex: 3;
  height: 530px;
  background-color: var(--light);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.sidebar ul {
  margin-top: 2rem;
}

.sidebar ul li {
  padding: 20px;
  border-bottom: 1px solid white;
  list-style-type: none;
  color: #e6af2e;
}

.sidebar ul li:hover {
  background-color: #e6af2e;
  color: #ededed;
}

.panel {
  display: none;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 50px;
  width: 50%;
  align-content: center;
  position: relative;
  margin-top: 30px;
  margin-left: 260px;
  border-radius: 7px;
}

@media only screen and (max-width: 580px) {
  .panel {
      left: 3%;
      margin-right: 3%;
      width: 88%;
      margin-left: 0;
      padding-left: 3%;
      padding-right: 3%;
  }
}


.panel.active {
  display: block;
}

.pagination ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 400px;
}

.pagination ul li {
  list-style: none; 
}

.pagination ul li a {
  position: relative;
  display: block;
  height: 40px;
  width: 40px;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  background: #353535;
  color: #565656;
  text-decoration: none;
  margin: 10px;
  border-radius: 4px;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, .1), 0 2px 5px rgba(0, 0, 0, .5);
}

.pagination ul li a.active,
.pagination ul li a:hover {
  color: #fff;
  text-shadow: 0 0 20px rgb(255, 244, 27),
               0 0 20px rgb(255, 244, 27),
               0 0 20px rgb(255, 244, 27),
               0 0 20px rgb(255, 244, 27),
               0 0 20px rgb(255, 244, 27),
               0 0 20px rgb(255, 244, 27),
               0 0 20px rgb(255, 244, 27),
               0 0 20px rgb(255, 244, 27);
}

.loan-input, .loan{
  margin-top: -10px;
  margin-bottom: 20px;
}